.breadcrumb {  
  /*
    - add some padding around it
    - add background color
    - remove the bullet points on the list
  */
    padding: 10px;
    background-color: lightblue;
    list-style: none;
}

.breadcrumb li {
  /* 
    Hint: display
    - Make the list in a line.
  */
    display: inline-block;
}

.breadcrumb li a {
  /*
    - add text color
  */
    color: darkviolet;
}

/* add a CSS selector that selects all list elements except for 1st one */
/* add "/" before each selected list  */
/* add text color and padding */
 
.breadcrumb li :not(first child)::after {
        content: "/";
        color: blue;
        padding: 5px;
}
